@import '../../styles/base.module.scss';

@mixin formInput() {
  all: unset;
  -webkit-appearance: none;
  box-sizing: border-box;
  // font-family: var(--font-body);
  width: 100%;
  border: 1px solid $user-dark-purple;
  background: $user-dark-purple;
  color: $user-white;
  font-size: 1rem;
  height: calc(base(1) * 2.5);
  line-height: var(--base);
  padding: calc(var(--base) * 0.75);

  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    color: var(--color-mid-gray);
    font-weight: normal;
    font-size: 1rem;
  }

  &:hover {
    border-color: var(--color-mid-gray);
  }

  &:focus,
  &:active {
    border-color: $user-yellow;
    outline: 0;
  }

  &:disabled {
    background: var(--color-light-gray);
    color: var(--color-gray);

    &:hover {
      border-color: var(--color-light-gray);
    }
  }
}