@import '../../styles/base.module.scss';

.form {
  width: 80%;
  max-width: 1000px;
  margin: base(6) auto;
  padding: base(3);
  background-color: $user-purple;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
}

.hasSubmitted {
  align-items: center;
  justify-content: center;
  height: 80vh;

  @include small-break {
    height: 100%;
  }
}

.intro {
  margin-bottom: base(1);

  @include mid-break {
    margin-bottom: base(1);
  }
}

.confirmationMessage {
  max-width: 800px;
  text-align: center;

  * {
    margin: 0;
  }
}

.fieldWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(base(1) * -0.5);
  margin-right: calc(base(1) * -0.5);
  width: calc(100% + #{base(1)});

  >* {
    width: 100%;
  }
}

.Select {
  & label {
    position: absolute;
    top: calc(base(1) * -0.5);
  }
}

.sidebarContent {
  @include mid-break {
    display: none;
  }
}

.mobileSidebar {
  display: none;

  @include mid-break {
    display: block;
    margin-bottom: calc(base(1) * 2);
  }
}

.error {
  margin: base(1) 0;
  font-weight: 700;
  color: red;
}