@import '../../styles/base.module.scss';

.grid {
  padding: 0;
}

.wrapper {
  padding: base(5) 0;
}

.wrapper.small {
  padding: 0;
}

.media {
  max-width: 1000px;
  padding: 0;
  transform: translate(15%, 10px);
  @include keyframes(twist) {
    from {
      opacity: 0;
      transform: translate(18%, 0) rotate(-3deg) scale(1.05);
    }
    to {
      opacity: 0.6;
      transform: translate(15%, 10px);
    }
  }
  @include animate(twist, 500ms, ease-in-out, 1);
}

.media.medium {
  max-height: 1000px;
}

@include extra-extra-large-break {
  .media.medium {
    padding: 0;
    transform: translate(15%, 70px);
    @include keyframes(twist) {
      from {
        opacity: 0;
        transform: translate(18%, 0) rotate(-3deg) scale(1.05);
      }
      to {
        opacity: 0.6;
        transform: translate(15%, 70px);
      }
    }
    @include animate(twist, 500ms, ease-in-out, 1);
  }
}

@include extra-large-break {
  .media {
    padding:0;
    transform: translate(15%, 20px);
    @include keyframes(twist) {
      from {
        opacity: 0;
        transform: translate(18%, 0) rotate(-3deg) scale(1.05);
      }
      to {
        opacity: 0.6;
        transform: translate(15%, 20px);
      }
    }
    @include animate(twist, 500ms, ease-in-out, 1);
  }

  .media.medium {
    padding: 0;
    transform: translate(15%, 60px);
    @include keyframes(twist) {
      from {
        opacity: 0;
        transform: translate(18%, 0) rotate(-3deg) scale(1.05);
      }
      to {
        opacity: 0.6;
        transform: translate(15%, 60px);
      }
    }
    @include animate(twist, 500ms, ease-in-out, 1);
  }

  .media.large {
    max-height: 1200px;
    padding: 0 3px;
    transform: translate(0, 20px);
    @include keyframes(twist) {
      from {
        opacity: 0;
        transform: translate(18%, 0) rotate(-3deg) scale(1.05);
      }
      to {
        opacity: 0.6;
        transform: translate(0, 20px);
      }
    }
    @include animate(twist, 500ms, ease-in-out, 1);
  }
}

@include large-break {
  .wrapper {
    padding: 0;
  }

  .media {
    transform: translate(15%, 20px);
    @include keyframes(twist) {
    from {
      opacity: 0;
      transform: translate(18%, 0) rotate(-3deg) scale(1.05);
    }
    to {
      opacity: 0.6;
      transform: translate(15%, 20px);
    }
  }
  @include animate(twist, 500ms, ease-in-out, 1);
  }

  .media.medium {
    transform: translate(15%, 20px);
    @include keyframes(twist) {
      from {
        opacity: 0;
        transform: translate(18%, 0) rotate(-3deg) scale(1.05);
      }
      to {
        opacity: 0.6;
        transform: translate(15%, 20px);
      }
    }
    @include animate(twist, 500ms, ease-in-out, 1);
  }
  
  .media.large {
    max-height: 950px;
    padding: 0 3px;
    transform: translate(0, 20px);
    @include keyframes(twist) {
      from {
        opacity: 0;
        transform: translate(18%, 0) rotate(-3deg) scale(1.05);
      }
      to {
        opacity: 0.6;
        transform: translate(0, 20px);
      }
    }
    @include animate(twist, 500ms, ease-in-out, 1);
  }
}

@include mid-break {
  .media {
    transform: translate(15%, 20px);
    @include keyframes(twist) {
    from {
      opacity: 0;
      transform: translate(18%, 0) rotate(-3deg) scale(1.05);
    }
    to {
      opacity: 0.6;
      transform: translate(15%, 20px);
    }
  }
  @include animate(twist, 500ms, ease-in-out, 1);
  }
}

@include small-break {
  .media.large {
    max-height: 750px;
    padding: 0 3px;
    transform: translate(0, 20px);
    @include keyframes(twist) {
    from {
      opacity: 0;
      transform: translate(18%, 0) rotate(-3deg) scale(1.05);
    }
    to {
      opacity: 0.6;
      transform: translate(0, 20px);
    }
  }
  @include animate(twist, 500ms, ease-in-out, 1);
  }
}

@include extra-small-break {
  
}