@import '../../styles/base.module.scss';

.grid {
  padding: 0;
}

.wrapper {
  padding: base(5) 0;
}

.wrapper.small {
  padding: 0;
}

.media {
  max-width: 1000px;
}

.media.medium {
  transform: translate(0, -15px);
}

.media.small {
  padding: 0;
  transform: translate(15%, 10px);
}

@include extra-large-break {
  .media.small {
    padding: base(0.5) 0;
    transform: translate(15%, 20px);
  }
}

@include large-break {
  .wrapper {
    padding: 0;
  }

  .media.small {
    transform: translate(15%, 20px);
  }
}

@include mid-break {
  .media.small {
    transform: translate(15%, 20px);
  }
}

@include small-break {
  .media {

  }
}

@include extra-small-break {
  .wrapper {
    padding: 0;
  }
}