@use "../shared.scss";
@import '../../../styles/base.module.scss';

.wrap {
  position: relative;
  margin-bottom: base(1);
}

.input {
  @include shared.formInput;
}

.label {
  margin-bottom: 10px;
  display: block;
}