@import '../../styles/base.module.scss';

.wrapper {
  position: relative;
  z-index: 1;
  margin: base(3) auto 0 auto;
  padding: base(5) 0;
  color: $user-white;

  @include mid-break {
    margin: base(1) auto 0 auto;
    padding: base(2) 0;
  }
}

.gridContainer {
  position: relative;
  padding: 0;
}

.cta {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -10;
  @include grid-center-parent;
}

.polygon {
  @include grid-center-child;
  height: 175%;
  max-height: base(10);

  @include mid-break {
    max-height: base(8);
  }

  @include small-break {
    max-height: base(6);
  }

  @include extra-small-break {
    max-height: base(4);
  }
}

.optionsWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: base(3);
  color: $user-white;
}

.donationOpt {
  @include grid-center-parent;
  min-width: base(5.5);
}

.donationLink {
  @include grid-center-child;
  z-index: 1;
  text-decoration: none;
  &::before {
    content: '$'
  }
}

.optPolygon {
  @include grid-center-child;
}

@include large-break {
  .polygon {
    height: 100%;
  }
}

@include small-break {
  .polygon {
    height: 50%;
  }

  .optionsWrapper {
    flex-flow: row wrap;
  }
}

@include extra-small-break {
  .polygon {
    height: 60%;
  }
}