@import '../../styles/base.module.scss';

.formBlock {
  padding: base(6) 0;

  @include small-break {
    padding: 0;
  }
}

.carousel {
  padding: base(4) 0;

  @include small-break {
    padding: base(2) 0;
  }
}