@import './base.module.scss';

.app {
  height: 100%;
  margin: $header-height auto 0 auto;
  font-size: base(0.85);
}

///////////////////
// TYPE
///////////////////
@mixin headingWeight {
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-family: 'freight-sans-compressed-pro', Poppins, system-ui, Helvetica, Arial, sans-serif;
}

@mixin bodyWeight {
  font-weight: 400;
}

@mixin h1 {
  @include headingWeight;
  margin: 0 0 base(2);
  font-size: base(6);
  line-height: base(4);
}

.h1 {
  @include h1;
}

@mixin h2 {
  @include headingWeight;
  margin: base(2) 0;
  font-size: base(4.65);
  line-height: base(5);
}

.h2 {
  @include h2;
}

@mixin h3 {
  @include headingWeight;
  font-size: base(3.5);
  line-height: base(2.5);
  margin: base(2) 0 base(1.5);
}

.h3 {
  @include h3;
}

@mixin h4 {
  @include headingWeight;
  font-size: base(2.75);
  line-height: base(3.25);
  margin: base(1.5) 0;
}

.h4 {
  @include h4;
}

@mixin h5 {
  @include headingWeight;
  font-size: base(1.75);
  line-height: base(2);
  margin: base(1.5) 0;
}

.h5 {
  @include h5;
}

@mixin h6 {
  @include headingWeight;
  font-size: base(1);
  line-height: base(1.75);
  margin: base(1.5) 0;
}

.h6 {
  @include h6;
}

@include mid-break {
  .h1 {
    font-size: base(5.25);
  }

  .h2 {
    font-size: base(4.25);
  }

  .h3 {
    font-size: base(2.75);
  }

  .h4 {
    font-size: base(2);
  }

  .h5 {
    font-size: base(1.25);
  }

  .h6 {
    font-size: base(0.85);
  }
}

@include small-break {
  .h1 {
    font-size: base(4);
    line-height: base(3);
  }

  .h2 {
    font-size: base(3.25);
    line-height: base(2.5);
  }

  .h3 {
    font-size: base(2.5);
    line-height: base(2);
  }

  .h4 {
    font-size: base(1.85);
    line-height: base(1.5);
  }

  .h5 {
    font-size: base(1.35);
    line-height: base(1.1);
  }

  .h6 {
    font-size: base(0.9);
    line-height: base(0.75);
  }
}

@include extra-small-break {
  .h1 {
    font-size: base(3);
    line-height: base(2);
  }

  .h2 {
    font-size: base(2.5);
    line-height: base(1.75);
  }

  .h3 {
    font-size: base(2);
    line-height: base(1.5);
  }

  .h4 {
    font-size: base(1.5);
    line-height: base(1.25);
  }

  .h5 {
    font-size: base(1);
    line-height: base(0.75);
  }

  .h6 {
    font-size: base(0.7);
    line-height: base(0.35);
  }
}