@use 'sass:math';

/////////////////////////////
// BREAKPOINTS
/////////////////////////////

$breakpoint-xs-width: 400px !default;
$breakpoint-s-width: 768px !default;
$breakpoint-m-width: 1024px !default;
$breakpoint-l-width: 1440px !default;
$breakpoint-xl-width: 1920px !default;
$breakpoint-xxl-width: 2300px !default;

//////////////////////////////
// BASELINE GRID
//////////////////////////////

$baseline-px : 20px !default;
$baseline-body-size : 18px !default;
$baseline : math.div($baseline-px, $baseline-body-size)+rem;

@function base($multiplier) {
  @return (math.div($baseline-px, $baseline-body-size) * $multiplier)+rem;
}

//////////////////////////////
// Z-INDEX
//////////////////////////////
$zindex-page: 10;
$zindex-modal: 20;
$zindex-header: 30;

//////////////////////////////
// HEADER
//////////////////////////////
$header-height: base(8);

//////////////////////////////
// STRUCTURE
//////////////////////////////
$grid-container-width: 920;
$grid-overflow: base(6);
$gutter-xxl: base(12);
$gutter-xl: base(7);

@mixin maxWidth {
  max-width: 1920px;
  margin: 0 auto;
}

//////////////////////////////
// TRANSITIONS
//////////////////////////////
$transition-default: 300ms;

////////////////////////////
// MEDIA QUERIES
/////////////////////////////

@mixin extra-small-break {
  @media (max-width: $breakpoint-xs-width) {
    @content;
  }
}

@mixin small-break {
  @media (max-width: $breakpoint-s-width) {
    @content;
  }
}

@mixin mid-break {
  @media (max-width: $breakpoint-m-width) {
    @content;
  }
}

@mixin large-break {
  @media (max-width: $breakpoint-l-width) {
    @content;
  }
}

@mixin extra-large-break {
  @media (max-width: $breakpoint-xl-width) {
    @content;
  }
}

@mixin extra-extra-large-break {
  @media (max-width: $breakpoint-xxl-width) {
    @content;
  }
}

//////////////////////////////
// COLORS
//////////////////////////////
$user-purple: #521C75;
$user-dark-purple: #311245;
$user-yellow: #F0A239;
$user-white: #FFFFFF;
$user-gray: #8F8F8F;

//////////////////////////////
// BOX SHADOWS
//////////////////////////////
$box-shadow: 0 0 1.9px rgba(0, 0, 0, 0.028), 0 0 4.6px rgba(0, 0, 0, 0.04), 0 0 8.6px rgba(0, 0, 0, 0.05), 0 0 15.4px rgba(0, 0, 0, 0.06), 0 0 28.8px rgba(0, 0, 0, 0.072), 0 0 69px rgba(0, 0, 0, 0.1);

//////////////////////////////
// KEYFRAMES
//////////////////////////////
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}