@import url("https://use.typekit.net/gqh4siz.css");

:root {
  /* color palette */
  --purple: #521C75;
  --dark-purple: #311245;
  --yellow: #F0A239;
  --white: #FFFFFF;
  --gray: #8F8F8F;

  /* base sizing */
  --baseline-px: 25px;
  --baseline-body-size: 18px;
}

html, body {
  margin: 0;
  color: var(--yellow);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: var(--baseline-body-size);
  line-height: var(--baseline-px)px;
  background-color: var(--dark-purple);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'freight-sans-compressed-pro', Poppins, system-ui, Helvetica, Arial, sans-serif;
}

.rModal__modal-item {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.rModal__modal-item--enterActive {
  opacity: 1;
}

.rModal__modal-item--enterDone {
  opacity: 1;
}