:root {
  /* color palette */
  --purple: #521C75;
  --dark-purple: #311245;
  --yellow: #F0A239;
  --white: #FFFFFF;
  --gray: #8F8F8F;

  /* base sizing */
  --baseline-px: 25px;
  --baseline-body-size: 18px;
}

html, body {
  margin: 0;
  color: var(--yellow);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'freight-sans-compressed-pro', system-ui, Helvetica, Arial, sans-serif;
  font-size: var(--baseline-body-size);
  line-height: var(--baseline-px)px;
  background-color: var(--dark-purple);
}